@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-container {
    position: sticky;
    top: 0;
    z-index: 50; /* Ensure it stays above other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional for a shadow effect */
    transition: all 0.3s ease-in-out;
  }